@charset "UTF-8";
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: local("Open Sans Regular"), local("OpenSans-Regular"), url(https://fonts.gstatic.com/s/opensans/v15/mem8YaGs126MiZpBA-UFUZ0bbck.woff2) format("woff2");
  unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 600;
  src: local("Open Sans SemiBold"), local("OpenSans-SemiBold"), url(https://fonts.gstatic.com/s/opensans/v15/mem5YaGs126MiZpBA-UNirkOVuhpOqc.woff2) format("woff2");
  unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: local("Open Sans Regular"), local("OpenSans-Regular"), url(https://fonts.gstatic.com/s/opensans/v15/mem8YaGs126MiZpBA-UFVZ0b.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 600;
  src: local("Open Sans SemiBold"), local("OpenSans-SemiBold"), url(https://fonts.gstatic.com/s/opensans/v15/mem5YaGs126MiZpBA-UNirkOUuhp.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  src: local("Open Sans Bold"), local("OpenSans-Bold"), url(https://fonts.gstatic.com/s/opensans/v15/mem5YaGs126MiZpBA-UN7rgOVuhpOqc.woff2) format("woff2");
  unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  src: local("Open Sans Bold"), local("OpenSans-Bold"), url(https://fonts.gstatic.com/s/opensans/v15/mem5YaGs126MiZpBA-UN7rgOUuhp.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* Основные цвета страницы */
@-ms-viewport {
  width: device-width;
}
html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -ms-overflow-style: scrollbar;
}

*,
::after,
::before {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

a:hover {
  text-decoration: none;
}
a:active {
  outline: none;
}
a:focus {
  outline: none;
}

.container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

.container-fluid {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

.row {
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
}

@media (min-width: 576px) {
  .container {
    max-width: 540px;
  }
}
@media (min-width: 768px) {
  .container {
    max-width: 720px;
  }
}
@media (min-width: 992px) {
  .container {
    max-width: 960px;
  }
}
@media (min-width: 1200px) {
  .container {
    max-width: 1140px;
  }
}
html {
  font-size: 14px;
}

body {
  font-family: 'Open Sans', sans-serif;
}

.transparent-btn {
  display: block;
  border: 1px #3591d3 solid;
  border-radius: 22px;
  padding: 10px;
  text-transform: uppercase;
  text-align: center;
  font-size: 14px;
  color: #ffffff;
  text-decoration: none;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}
.transparent-btn:hover {
  border: 1px solid #113450;
  background-color: #113450;
  color: #ffffff;
  text-decoration: none;
}
.transparent-btn:focus {
  outline: none;
}

.global-btn {
  border: none;
  border-radius: 22px;
  text-transform: uppercase;
  background-color: #3591d3;
  color: #ffffff;
  font-size: 14px;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}
.global-btn:hover {
  background-color: #113450;
  cursor: pointer;
}
.global-btn:focus {
  outline: none;
}

section {
  padding-top: 50px;
  padding-bottom: 50px;
}

.section-title {
  width: 100%;
  font-size: 36px;
  font-weight: 400;
  text-align: center;
  margin-bottom: 20px;
}
.section-subtitle {
  width: 100%;
  font-size: 16px;
  text-align: center;
  font-weight: 400;
  line-height: 1.4;
}

.global-menu {
  background-color: #113450;
  opacity: 0.85;
  padding: 14px;
}
.global-menu .row {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.global-menu_list {
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  margin-bottom: 0;
  padding: 0;
}
.global-menu_list li {
  margin-left: 30px;
}
.global-menu_list li a {
  color: #ffffff;
  text-transform: uppercase;
  text-decoration: none;
}
.global-menu_list li::after {
  content: '';
  width: 100%;
  height: 2px;
  display: block;
  -webkit-transform: translateY(8px) scale(0);
          transform: translateY(8px) scale(0);
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
  background-color: #ffffff;
}
.global-menu_list li:hover {
  cursor: pointer;
}
.global-menu_list li:hover::after {
  -webkit-transform: translateY(8px) scale(1);
          transform: translateY(8px) scale(1);
}
.global-menu_list li:focus {
  outline: none;
}

.mobile-menu {
  position: fixed;
  height: 100%;
  width: 100%;
  background-color: #222;
  opacity: 0.95;
  z-index: 800;
  display: none;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.mobile-menu_active {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.mobile-menu_list {
  padding-left: 0;
  list-style: none;
  text-align: center;
  width: 100%;
  height: 100%;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}
.mobile-menu_list li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 16.6%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
}
.mobile-menu_list li:hover {
  cursor: pointer;
  background-color: #3591d3;
}
.mobile-menu_list a {
  font-size: 18px;
  text-transform: uppercase;
  text-decoration: none;
  color: #fff;
}
.mobile-menu_btn {
  display: none;
  position: relative;
  background-color: transparent;
  border: none;
  font-size: 36px;
  color: #fff;
  padding: 0 5px;
}
.mobile-menu_btn:hover {
  cursor: pointer;
}
.mobile-menu_btn-close {
  position: absolute;
  right: 9%;
  top: 5%;
  font-size: 36px;
  text-decoration: none;
  color: #fff;
  background-color: transparent;
  border: none;
  z-index: 850;
}
.mobile-menu_btn-close:hover {
  cursor: pointer;
}

.main .row {
  width: 100%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.main-item {
  margin: 20px 0;
}
.main-item_big {
  width: 48%;
}
.main-item_small {
  width: 22%;
}
.main-item_img img {
  width: 100%;
}
.main-item_title {
  font-size: 24px;
  color: #666666;
  font-weight: 400;
  margin: 0;
  margin-top: 10px;
  margin-bottom: 10px;
}
.main-item_text p {
  display: inline-block;
  width: 97%;
  font-size: 14px;
  margin: 0;
}
.main-item_text a {
  font-size: 16px;
  font-weight: 400;
  color: #3591d3;
  text-decoration: none;
}
.main-item_text a:hover {
  color: #297ebb;
  text-decoration: underline;
}

.breadcrumb {
  display: inline-block;
  padding-left: 0;
  list-style: none;
}
.breadcrumb-row {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.breadcrumb-wrap {
  margin-bottom: 10px;
}
.breadcrumb-item {
  display: inline-block;
  font-size: 16px;
  color: #3591d3;
}
.breadcrumb-item a {
  color: #3591d3;
  text-decoration: none;
}
.breadcrumb-item a:hover {
  color: #297ebb;
}
.breadcrumb-item::after {
  content: '/';
  margin-left: 5px;
  font-size: 18px;
}
.breadcrumb-item_active {
  font-weight: 700;
}
.breadcrumb-item_active::after {
  content: '';
}

.main {
  background: url(../img/meditation-page/meditation-bg.png) center center no-repeat;
  background-size: cover;
  height: 90vh;
}

.type-items {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.type-item {
  position: relative;
  min-height: 444px;
  text-align: center;
  border: 1px solid #3591d3;
  margin-top: 15px;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  width: 250px;
}
.type-item:hover {
  -webkit-box-shadow: 2px 2px 40px 7px rgba(37, 99, 128, 0.31);
          box-shadow: 2px 2px 40px 7px rgba(37, 99, 128, 0.31);
  cursor: pointer;
  -webkit-transform: translateY(-10px);
          transform: translateY(-10px);
}
.type-item:focus {
  outline: none;
}
.type-item img {
  width: 100%;
  height: 85%;
  position: absolute;
  z-index: 5;
  bottom: 0;
  left: 0;
}
.type-item_wrap {
  position: relative;
  z-index: 10;
  padding: 10px 10px;
  background-color: #3591d3;
}
.type-item_wrap h3 {
  font-size: 18px;
  font-weight: 700;
  color: #ffffff;
  text-transform: uppercase;
}
.type-item_btn {
  position: absolute;
  padding: 10px 30px;
  bottom: 30px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  z-index: 10;
  text-decoration: none;
}

.info {
  padding-top: 20px;
}
.info-content {
  -ms-flex-pack: distribute;
      justify-content: space-around;
}
.info-content_img {
  width: 45%;
}
.info-content_img img {
  width: 100%;
}
.info-content_text {
  width: 45%;
  text-align: center;
}
.info-content_text p {
  text-align: left;
  font-size: 16px;
  line-height: 1.5;
  margin-top: 0;
}
.info-title {
  margin-top: 0;
}
.info-btn {
  padding: 10px 25px;
}

.foot {
  background: #3591d3;
  padding: 20px 0;
}
.foot .row {
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.foot a {
  display: block;
  color: #ffffff;
  margin-bottom: 5px;
  text-decoration: none;
}
.foot a:hover {
  color: #fff;
  text-decoration: underline;
}
.foot a:focus {
  outline: none;
}
.foot p {
  color: #ffffff;
}
.foot-link {
  list-style: none;
  text-align: center;
}
.foot-link_text {
  text-align: center;
}
.foot-link_right {
  line-height: 1.5;
  text-align: right;
}
.foot-link_right a {
  display: block;
  margin-top: 0;
  margin-bottom: 0;
}
.foot-link_right p {
  margin-top: 0;
  margin-bottom: 0;
}
.foot-link_right i {
  font-size: 18px;
  color: #ffffff;
  margin-right: 5px;
}
.foot-link_right i:hover {
  cursor: pointer;
  color: #c0c4c7;
}
.foot-link_right i:focus {
  outline: none;
}
.foot-link_right .foot-link_icon {
  display: inline-block;
  margin-top: 5px;
}

.popup {
  display: none;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 999;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}
.popup-content {
  position: fixed;
  left: 50%;
  top: 25%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  text-align: center;
}
.popup-close {
  position: absolute;
  top: -18px;
  right: -55px;
  background-color: transparent;
  border: none;
  color: #fff;
  font-size: 48px;
}
.popup-close:focus {
  outline: none;
}
.popup-close:hover {
  cursor: pointer;
}
.popup-form {
  background-color: #fff;
  padding: 30px 30px;
  text-align: center;
}
.popup-form h2 {
  margin-top: 0;
  font-size: 22px;
  color: #333333;
}
.popup-form p {
  font-size: 20px;
  color: #333333;
  margin-bottom: 0;
}
.popup-label {
  display: inline-block;
  font-size: 16px;
  margin-top: 15px;
  margin-bottom: 5px;
}
.popup-input {
  display: block;
  margin: 5px auto;
  padding: 10px 15px;
  font-size: 18px;
  border-radius: 22px;
  border: #3591d3 solid 1px;
  width: 100%;
}
.popup-btn {
  margin-top: 25px;
  padding: 10px 25px;
  font-size: 18px;
  width: 100%;
}

@media (max-width: 991px) {
  .popup-form h2 {
    font-size: 20px;
  }
  .popup-form p {
    font-size: 18px;
  }
  .popup-input {
    font-size: 16px;
    margin-bottom: 0;
  }
  .popup-btn {
    font-size: 16px;
    margin-top: 20px;
  }
}
@media (max-width: 991px) and (orientation: landscape) {
  .popup-content {
    padding: 15px;
    top: 5%;
  }
}
@media (max-width: 575px) and (min-width: 496px) {
  .popup-content {
    width: 60%;
    top: 15%;
  }
  .popup-form {
    padding: 25px 25px;
  }
  .popup-form h2 {
    font-size: 18px;
  }
  .popup-form p {
    font-size: 16px;
  }
  .popup-input {
    font-size: 14px;
  }
  .popup-label {
    font-size: 14px;
  }
  .popup-btn {
    font-size: 14px;
  }
}
@media (max-width: 495px) {
  .popup-content {
    width: 80%;
  }
  .popup-form {
    padding: 15px 10px;
  }
  .popup-close {
    top: -50px;
    right: -35px;
  }
}
@media (max-width: 330px) {
  .popup-contnet {
    top: 7%;
  }
}
@media (max-width: 1199px) {
  .type-item {
    width: 22%;
  }
}
@media (max-width: 991px) {
  section {
    padding-top: 30px;
    padding-bottom: 30px;
  }

  .section-title {
    font-size: 32px;
  }

  .global-menu {
    padding-top: 0;
    padding-bottom: 7px;
  }
  .global-menu .row {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .global-menu_list {
    width: 70%;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
  .global-menu_list li {
    margin-top: 5px;
    margin-bottom: 5px;
  }

  .type-item {
    width: 38%;
    margin-top: 20px;
    margin-bottom: 40px;
  }
  .type-items {
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }

  .info-content_img {
    width: 80%;
  }
  .info-content_text {
    width: 80%;
    margin-top: 20px;
  }
  .info-content_text p {
    text-align: center;
  }

  .foot-link {
    padding-left: 0;
  }
}
@media (max-width: 767px) {
  .global-menu {
    padding-top: 10px;
    padding-bottom: 10px;
  }
  .global-menu_list {
    display: none;
  }

  .mobile-menu_btn {
    display: block;
  }

  .type-item {
    width: 50%;
    margin-right: 5%;
    margin-left: 5%;
    min-height: 400px;
  }
  .type-item_wrap h3 {
    font-size: 16px;
  }

  .info-content_img {
    width: 100%;
  }
  .info-content_text {
    width: 100%;
  }
  .info-content_text p {
    font-size: 14px;
  }

  .foot-logo {
    width: 100%;
    text-align: center;
  }
  .foot .row {
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  .foot-link {
    width: 33.3%;
  }
  .foot-link_1 {
    -webkit-box-ordinal-group: 8;
        -ms-flex-order: 7;
            order: 7;
  }
  .foot-link_2 {
    -webkit-box-ordinal-group: 7;
        -ms-flex-order: 6;
            order: 6;
  }
  .foot-link_3 {
    -webkit-box-ordinal-group: 9;
        -ms-flex-order: 8;
            order: 8;
  }
  .foot-link_4 {
    width: 100%;
    -webkit-box-ordinal-group: 10;
        -ms-flex-order: 9;
            order: 9;
  }
  .foot-link_right {
    text-align: center;
    line-height: 1.5;
    -webkit-box-ordinal-group: 11;
        -ms-flex-order: 10;
            order: 10;
  }
  .foot-item_title {
    font-size: 22px;
  }
  .foot-item_text a {
    font-size: 14px;
  }
}
@media (max-width: 575px) {
  section {
    padding-top: 30px;
    padding-bottom: 30px;
  }

  .section-title {
    font-size: 24px;
  }
  .section-subtitle {
    font-size: 14px;
  }

  .breadcrumb-item {
    font-size: 14px;
  }
  .breadcrumb-item::after {
    font-size: 14px;
  }

  .type-item {
    width: 50%;
    margin-right: 1%;
    margin-left: 1%;
  }
  .type-item_wrap h3 {
    font-size: 14px;
  }

  .info-content_img {
    width: 90%;
  }
  .info-content_text {
    width: 90%;
  }

  .foot-link {
    width: 60%;
    margin-top: 0;
    margin-bottom: 0;
  }
  .foot-link_text {
    margin: 0;
  }
  .foot-link_1 {
    -webkit-box-ordinal-group: 7;
        -ms-flex-order: 6;
            order: 6;
  }
  .foot-link_2 {
    -webkit-box-ordinal-group: 8;
        -ms-flex-order: 7;
            order: 7;
  }
  .foot-link_3 {
    -webkit-box-ordinal-group: 9;
        -ms-flex-order: 8;
            order: 8;
  }
  .foot-link_4 {
    width: 100%;
    -webkit-box-ordinal-group: 10;
        -ms-flex-order: 9;
            order: 9;
    margin-top: 0;
  }
  .foot-link_right {
    text-align: center;
    line-height: 1.5;
    -webkit-box-ordinal-group: 11;
        -ms-flex-order: 10;
            order: 10;
  }
}
@media (max-width: 495px) {
  .type-item {
    width: 65%;
  }
}

/*# sourceMappingURL=meditation-style.css.map */