@import "header";

.main{
  height: 94vh;
  background: #035b6f url(../img/index_page/main/main_bg-min.jpeg) center center no-repeat; 
  background-size: cover;
  .row{
    justify-content: center;
  }
  &-title{
    display: inline-block;
    width: 100%;
    font-size: 72px;
    color:#fff;
    text-align: center;
    text-transform: uppercase;
    font-weight: 700;
    text-shadow: 0px 5px 10px rgba(1, 1, 1, 0.5);
    line-height: 1;
    margin: 0;
  }
  &-subtitle{
    display: inline-block;
    width: 100%;
    margin: 0;
    font-size: 48px;
    font-weight: 300;
    color: #ffffff;
    text-align: center;
    text-transform: lowercase;
    line-height: 60px;
    margin-bottom: 30px;
  }
  &-btn{
    &_trsp{
      position: relative;
      left:-15px;
      padding: 10px 20px;
      font-size: 17px;
    }
    &_global{
      position: relative;
      right: -15px;
      padding: 10px 20px;
      font-size: 17px;
    }
  }
  &-display{
    position: relative;
    top:25vh;
  }
}

.question{
  &-title{
    color:$main-color;
  }
  &-subtitle{
    color: $text-color;
  }
  &-foto{
    margin-top: 50px;
    margin-bottom: 30px;
    justify-content: space-around;
    &_1,&_2,&_3,&_4{
      width: 280px;
      height: 280px;
      padding: 5px;
      img{
        width: 100%;
      }
    }
  }
  .wrap{
    justify-content: center;
  }
  &-btn{
    display: inline-block;
    text-align: center;
    padding: 12px 30px;
    position: relative;
    text-decoration: none;
    &:hover{
     text-decoration: none;
     color: #ffffff;
    }
    &:focus{
      outline: none;
    }
  }
}

.profit{
  background: rgba(53, 52, 53, 0.8) url(../img/index_page/profit/profit-bg.png) center center no-repeat;
  background-size: cover;
  &-title{
    color: #ffffff;
    font-size: 36px;
    font-weight: 400;
    margin-bottom: 50px;
  }
  &-box{
    margin-bottom: 30px;
    padding-right: 20px;
    padding-left:20px;
    justify-content: center;
  }
  &-item{
    min-height: 280px;
    padding-top: 30px;
    padding-left: 35px;
    padding-right: 35px;
    text-align: center;
    background-color: rgba(255,255,255,0.7);
    margin: 6px;
    max-width: 280px;
    transition: all 0.2s;
    &:hover{
      background-color: #fff;
      cursor: pointer;
    }
    &:focus{
      outline: none;
    }
    &_img{
      margin-bottom: 25px;
      source{
        height: 90px;
        width: 90px;
      }
    }
    &-text{
      font-size: 14px;
      font-weight: 400;
    }
  }
  .wrap{
    justify-content: center;
  }
  &-btn{
    padding: 10px 30px;
    border-color:#fff; 
  }
}

.who{
  &-title{
    color:$text-color;
    margin-bottom: 55px;
  }
  .row{
    justify-content: space-between;
  }
  &-items{
    margin-bottom: 20px;
    width: 33.3%;
  }
  &-item{
    position: relative;
    padding: 30px 30px 5px;
    text-align: center;
    transition: all 0.5s;
    &_1,&_2,&_3{
      min-height: 350px;
    }
    &_4,&_5,&_6{
      min-height: 370px;
    }
    &_text{
      margin-top: 30px;
      color:$text-color;
      h3{
        font-weight: 700;
        font-size: 1rem;
        margin-bottom: 25px;
      }
    }
    &:hover{
      cursor:pointer;
      box-shadow: 2px 2px 40px 5px rgba(151, 170, 179, 0.31);
      transform: translateY(-10px);
    }
    &:focus{
      outline: none;
    }
  }
}

.steps{
  background-color: #eceff1;
  &-title{
    color: $text-color;
    font-weight: 400;
    margin-bottom: 50px;
  }
  &-video{
    width: 70%;
    margin: 0 auto;
    margin-bottom: 30px;
    height: auto;
    video{
      height: 100%;
      width: 100%;
    }
  }
  &-items{
    justify-content: center;
  }
  &-item{
    margin: 0 10px;
    margin-bottom: 20px;
    width: 33.3%;
    .media{
      display: -webkit-flex;
      display: -moz-flex;
      display: -ms-flex;
      display: -o-flex;
      display: flex;
      align-items: center;
      &-number{
        color:$text-color;
        font-size: 32px;
        margin-right: 10px;
      }
    }
    &_text{
      font-size: 14px;
      color:$text-color;
      margin-top: 0;
      margin-bottom: 0;
    }
  }
}

.insta{
  &-title{
    color:$text-color;
  }
  &-link{
    color: #2e2c41;
    text-decoration:none;
    &:hover{
      text-decoration:none;
      color:lighten($color: #2e2c41, $amount: 20);
    }
    &:focus{
      outline: none;
    }
    &_wrap{
      margin-bottom: 20px;
      text-align: center;
    }
  }
  .row{
    justify-content: space-around;
    flex-wrap: nowrap;
  }
  &-foto{
    &_main{
      margin-right: 5px;
    }
    &_dop{
      display: -webkit-flex;
      display: -moz-flex;
      display: -ms-flex;
      display: -o-flex;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-around;
      .insta-foto{
        display: inline-block;
        width: 25%;
        margin-bottom: 2px;
      }
    }
    &_mobile{
      display: none;
    }
  }
}

.cost{
  
  &-title{
    color: $text-color;
    margin-bottom: 50px;
  }
  .row{
    justify-content: space-around;
  }
  &-item{
    border: 1px solid $main-color;
    text-align: center;
    margin-bottom: 30px;
    min-height: 450px;
    width: 250px;
    transition: all 0.5s;
    &_wrap{
      display: -webkit-flex;
      display: -moz-flex;
      display: -ms-flex;
      display: -o-flex;
      display: flex;
      align-items: center;
      justify-content: center;
      min-height: 80px;
      background-color: $main-color;
      margin-bottom: 30px;
      h3{
        font-weight: 700;
        font-size: 18px;
        color: #ffffff;
      }
    }
    &:hover{
      cursor: pointer;
      box-shadow: 2px 2px 40px 5px rgba(151, 170, 179, 0.31);
      transform: translateY(-10px);
    }
    &:focus{
      outline: none;
    }
    &_icon{
      margin-bottom: 7px;
    }
    &_text{
      font-size: 18px;
      font-weight: 300;
      color:$text-color;
    }
    &_cost{
      font-size: 18px;
      color: $text-color;
      span{
        color:$main-color;
        font-size: 36px;
      }
    }
    &_btn{
      position: relative;
      bottom: -20px;
      padding: 10px 40px;
    }
  }
  &-btn{
    color:$main-color;
    padding:10px 25px;
  }
}

.present{
  background-color: #eceff1;
  text-align: center;
  &-title{
    color:$text-color;
    margin-bottom: 50px;
  }
  &-items{
    justify-content: center;
  }
  &-item{
    position: relative;
    background: url(../img/index_page/present/sertificat.png) center bottom no-repeat;
    background-size: cover;
    min-height: 444px;
    width: 250px;
    text-align: center;
    border:1px solid $main-color;
    margin-bottom: 15px;
    transition: all 0.5s;
    margin: 0 30px;
    &:hover{
      box-shadow: 2px 2px 40px 7px rgba(37, 99, 128, 0.31);
      cursor: pointer;
      transform: translateY(-10px);
    }
    &:focus{
      outline: none;
    }
    &_wrap{
      padding: 30px 10px;
      background-color: $main-color;
      h3{
        font-size: 18px;  
        font-weight: 700;
        color: #ffffff;
      }
    }
    &_cost{
      font-size: 18px;
      color:$text-color;
      span{
        font-size: 36px;
        color:$main-color;
      }
    }
    &_btn{
      position: absolute;
      padding: 10px 30px;
      bottom: 30px;
      left:50%;
      transform: translateX(-50%);
    }
  }
  &-info{
    margin-top: 20px;
    color:$text-color;
    strong{
      font-weight: 700;
    }
  }
  &-btn{
    padding-left: 30px;
    padding-right: 30px;
    color:$main-color;
    &_wrap{
      margin-top: 10px;
      justify-content: center;
    }
  }
}

.feedback{
  padding-bottom: 20px;
  &-title{
    color:$text-color;
    margin-bottom: 30px;
  }
  .row{
    justify-content: center;
  }
  .slider{
    width: 100%;
    &-item{
      text-align: center;
      &_img{
        display: flex;
        justify-content: center;
        margin-bottom: 20px;
        img{
          border-radius:50%;
          width: 120px;
          height: 120px;
        }
      }
      &_text{
        font-size: 14px;
        h3{
          font-size: 18px;
          font-weight: 700;
        }
        color:$text-color;
      }
    }
    &-dots{
      list-style: none;
      text-align: center;
      padding-left: 0;
      .slick-active{
        background: #666666;
      }
      li{
        position: relative;
        display: inline-block;
        margin: 0 5px;
        padding: 0;
        width: 18px;
        height: 18px;
        border:2px solid #666666;
        cursor:pointer;
        transition: all 0.2s;
        border-radius:50%;
        button{
          font-size: 0;
          line-height: 0;
          color:transparent;;
          border:none;
          background-color: transparent;
        }
        &:hover,&:focus{
          outline:none;
          opacity:0.6;
        }
        &:active{
          background: #666666;
        }
      }
      
    }
  }   
}

.map{
  padding: 0;
}

@import "footer";
@import "popup";
@import "media-index";